  <style>

  form {
    width: 80%;
    height:60%; 
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
  }
  .form1 {
    width: 120%;
    height:60%; 
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
  }
  .div1 {
    width: 45%;
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  label {
    display: block;
    color: #3c763d; 
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 20%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #13F159;
    border: none;
    border-radius: 5px;
  }
  #ana_div {
    height: 300px;
    width: 95%;
    margin-right: auto;
    margin-left: auto; 
}
.divv {  
    float: left;
    display: inline-block;
    height: 250px;
    width: 45%;
    margin: 10px;
}
img{
   height: 70%;
   width: 70%;
}
</style>